<!DOCTYPE html>
<html>
<head>
<link rel="Stylesheet" href="Styles/bootstrap.min.css" />
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="Scripts/bootstrap.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script type="text/javascript" src="Scripts/index.js"></script>
<title>Example</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body ng-app="myApp" ng-controller="myCtrl">
<div class="container">
<div class="row">
<div class="col-md-2"></div>
<div class="col-md-8">
<div class="display_data">
<h2>Display albums</h2>
<input type="text" ng-model='searchText' placeholder="search here" class="form-control" /><br />

<table class="table table-hover table-striped table-responsive">
<thead>
<th>Song Title</th>
<th>Song Rights</th>
<th>Song Category</th>
</thead>
<tbody>
<tr ng-repeat="songs in albums">
<td>{{songs.entry[0].title.label}}</td>
<td>{{songs.entry[0].rights.label}}</td>
<td>{{songs.entry[0].category.attributes.term}}</td>
</tr>
<tr ng-repeat="songs in albums">
<td>{{songs.entry[1].title.label}}</td>
<td>{{songs.entry[1].rights.label}}</td>
<td>{{songs.entry[1].category.attributes.term}}</td>
</tr>
<tr ng-repeat="songs in albums">
<td>{{songs.entry[2].title.label}}</td>
<td>{{songs.entry[2].rights.label}}</td>
<td>{{songs.entry[2].category.attributes.term}}</td>
</tr>
<tr ng-repeat="songs in albums">
<td>{{songs.entry[3].title.label}}</td>
<td>{{songs.entry[3].rights.label}}</td>
<td>{{songs.entry[3].category.attributes.term}}</td>
</tr>
<tr ng-repeat="songs in albums">
<td>{{songs.entry[4].title.label}}</td>
<td>{{songs.entry[4].rights.label}}</td>
<td>{{songs.entry[4].category.attributes.term}}</td>
</tr>
<tr ng-repeat="songs in albums">
<td>{{songs.entry[4].title.label}}</td>
<td>{{songs.entry[4].rights.label}}</td>
<td>{{songs.entry[4].category.attributes.term}}</td>
</tr>
<tr ng-repeat="songs in albums">
<td>{{songs.entry[5].title.label}}</td>
<td>{{songs.entry[5].rights.label}}</td>
<td>{{songs.entry[5].category.attributes.term}}</td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="col-md-2"></div>
</div>
</div>
</body>
</html>
